@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 20px 0;
    --color-title: #001A49;
}

@font-face {
    font-family: Sansation_Regular;
    src: url(Sansation_Regular.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: Sansation_Regular;

    margin: 0;
    background-color: rgb(255, 255, 255);

}

.container {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

/* Estilos del botón de WhatsApp */

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;


}

.whatsapp-button a {
    display: block;
    padding: 15px;
    text-align: center;
}

.whatsapp-button img {
    width: 55px;
    /* Tamaño del icono de WhatsApp */
    height: 55px;

}

.whatsapp {
    display: inline-block;
    padding: 6px 14px;
    background-color: #25D366;
    /* Color verde de WhatsApp */
    color: #FFFFFF;
    /* Texto blanco */
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;


}


.whatsapp:hover {
    background-color: #1f8944cf;
    /* Cambia el color de fondo al pasar el mouse */
}

.cta {
    display: inline-block;
    background-color: #ffffff;
    justify-self: center;
    color: #001A49;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 8px;
}

.cta:hover {
    background-color: #3498db;
    /* Cambia el color de fondo al pasar el ratón */
    color: #fff;
}



.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(180deg,
            rgba(7, 7, 7, 0) 0%,
            /* Color azul más oscuro */
            rgba(1, 56, 118, 1) 100%
            /* Color azul transparente */
        ), url('../images/header.jpg');
    background-size: cover;

    z-index: -1;
}


/* Nav */
.logo {
    height: 5.5rem;
    margin-left: 10px;
    padding-top: 5px;
}


.nav {
    --padding-container: 0;

    display: flex;
    align-items: center;


}

nav.nav {
    width: 100%;
    max-width: none;
    /*background-color: #013876; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav__title {
    font-weight: 300;
    margin-left: 40px;
}

.nav__link {
    margin-right: 50px;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

nav.nav .nav__logo {
    margin-right: 20px;
    /* Ajusta según sea necesario */
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
    padding-right: 20px;
}


.nav__close {
    display: var(--show, none);
}


/* Hero container */

.hero__container {
    max-width: 1200px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;

    padding-bottom: 150px;
    text-align: initial;
}

.hero__title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}




.hero__paragraph {
    margin-bottom: 20px;
}

/* About */

.about {
    text-align: center;
    margin-top: -130px;
    margin-bottom: 100px;
}

#soluciones {
    background: url('../images/Landing_Web_aitue-2_trama.png') repeat; /* Reemplaza 'ruta/de/la/trama.jpg' con la ruta correcta de tu imagen de trama */
     background-attachment: fixed;
    background-size: cover;
    padding: 60px 0; /* Ajusta el espaciado según sea necesario */
}


.subtitle {
    color: rgb(0, 63, 118);

    margin-bottom: -27px;
}


.about__paragraph {
    line-height: 1.7;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}


.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 250px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon {
    width: 100px;
}

.about__title {
    color: rgb(0, 63, 118);
}




/* seccion de beneficios*/

.section {
    position: relative;
    height: 500px;
    /* Puedes ajustar la altura según tus necesidades */
    overflow: hidden;
    margin-top: -120px;
    


}

.section-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(180deg,
            rgba(1, 56, 118, 1) 100%,
            /* Color azul más oscuro */
            rgba(1, 56, 118, 0) 0%
            /* Color azul transparente */
        );
}

.section-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 26, 73, 0.8);
    /* Color azul oscuro con 70% de transparencia */
    color: white;

    border-radius: 30px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px 50px 30px 60px;
    width: 100%;
    /* Aumenté el tamaño del div en sí */
    max-width: 650px;
    /* Puedes ajustar el tamaño máximo si lo deseas */

}

.feature {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.feature img {
    width: 150px;
    /* Ajusta el tamaño del logo según tus necesidades */

}

.resaltado {
    font-weight: bold;
    font-size: 1.5em;
    /* Puedes ajustar el tamaño según tus preferencias */
    /* Puedes ajustar el color según tus preferencias */
}

@media (max-width:1100px) {

    .section-overlay {

        max-width: 650px;
    }
}

@media (max-width:800px) {
    .nav__menu {
        display: block;
    }

    .logo {
        height: 6rem;
        margin-left: -6px;

    }

    .nav__link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
        margin: 0;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .subtitle {
        font-size: 20px;
    }

    

    .about__main {
        gap: 2em;
    }

    .resaltado {
        font-size: 1.2em;
    }

    .about__icons:last-of-type {
        grid-column: 1/-1;
    }


    .section-overlay {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        max-width: 250px;
    }
}

@media (max-width:600px) {

    .hero{
        margin-bottom: 20px;
    }
    .hero__title {
        font-size: 2rem;
    }

    .logo {
        height: 5rem;
        margin-left: -6px;

    }

    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 80%;
        background-image: linear-gradient(180deg,
                rgba(1, 56, 118, 0) 0%,
                /* Color azul más oscuro */
                rgba(1, 56, 118, 1) 100%
                /* Color azul transparente */
            ), url('../images/satelite.jpg');
        background-position: center center;
        /* Centra la imagen en dispositivos móviles */
        background-size: cover;

        z-index: -1;
    }


    .hero__container {
        max-width: 1200px;
        --padding-container: 0;
        display: grid;
        grid-auto-rows: max-content;
        align-content: center;

        padding-bottom: 200px;
        text-align: center;
    }


    .hero__paragraph {
        font-size: 1rem;
    }

    .about__title {
        color: rgb(0, 63, 118);
        font-size: 20px;
    }

    .section-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .feature img {
        width: 80px;
        /* Ajusta el tamaño del logo según tus necesidades */

    }
}

@media (max-width:600px) {

    .section-overlay {
        padding: 20px;
    }

}