@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 20px 0;
    --color-title: #001A49;
}

@font-face {
    font-family: Sansation_Regular;
    src: url(Sansation_Regular.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: Sansation_Regular;
    margin: 0;
    background-color: rgb(255, 255, 255);
    background-image: url('../images/Landing_Web_aitue-2_trama.png');
    background-repeat: repeat;
    /* Puedes ajustar esto según tus necesidades */
    background-size: cover;
    background-attachment: fixed;
}

/* Estilos del botón de WhatsApp */

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;


}

.whatsapp-button a {
    display: block;
    padding: 15px;
    text-align: center;
}

.whatsapp-button img {
    width: 55px;
    /* Tamaño del icono de WhatsApp */
    height: 55px;

}

.whatsapp {
    display: inline-block;
    padding: 6px 14px;
    background-color: #25D366;
    /* Color verde de WhatsApp */
    color: #FFFFFF;
    /* Texto blanco */
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;


}


.whatsapp:hover {
    background-color: #1f8944cf;
    /* Cambia el color de fondo al pasar el mouse */
}

.cta {
    display: inline-block;
    background-color: #ffffff;
    justify-self: center;
    color: #001A49;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 8px;
}

.cta:hover {
    background-color: #3498db;
    /* Cambia el color de fondo al pasar el ratón */
    color: #fff;
}



/*boton flotante de la derecha*/



.whatsapp-btn a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.whatsapp-button img {
    width: 85px;
    /* Tamaño del icono de WhatsApp */
    height: 85px;
    

}


.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(180deg,
            rgba(7, 7, 7, 0) 0%,
            /* Color azul más oscuro */
            rgb(3, 41, 90) 100%
            /* Color azul transparente */
        ), url('../images/mapachico\ \(2\).jpg');
    background-size: cover;

    z-index: -1;
}


/* Nav */
.logo {
    height: 5.5rem;
    margin-left: 10px;
    padding-top: 5px;
}


.nav {
    --padding-container: 0;

    display: flex;
    align-items: center;


}

nav.nav {
    width: 100%;
    max-width: none;
    /*background-color: #013876; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav__title {
    font-weight: 300;
    margin-left: 40px;
}

.nav__link {
    margin-right: 50px;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

nav.nav .nav__logo {
    margin-right: 20px;
    /* Ajusta según sea necesario */
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
    padding-right: 20px;
}


.nav__close {
    display: var(--show, none);
}


/* Hero container */

.hero__container {
    max-width: 1200px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    margin-left: 100px;
    padding-bottom: 150px;
    text-align: initial;
}

.hero__title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}




.hero__paragraph {
    margin-bottom: 20px;
}

/* About */

.about {
    text-align: center;
    margin-top: -100px;
    margin-bottom: 100px;
}




.subtitle {
    color: rgb(0, 63, 118);
    padding: 0px 10px 0 10px;
    margin-bottom: -27px;
}


.about__paragraph {
    line-height: 1.7;
    color: rgb(0, 63, 118);
    font-size: 23px;
    padding: 10px 30px 0px 30px;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}


.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 250px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon {
    width: 100px;
}

.about__title {
    color: rgb(0, 63, 118);
}

/*seccion con texto*/

.contenedor {
    position: relative;
    height: 400px;
    /* Ajusta la altura del contenedor según tus necesidades */
    overflow: hidden;
   

}

.mi-imagen {
    width: 100%;
    height: 100%;
    /* Ajusta la altura al 100% para llenar el contenedor verticalmente */
    object-fit: cover;
    /* Ajusta la imagen para cubrir completamente el contenedor */
    display: block;
    background: linear-gradient(180deg, rgba(7, 7, 7, 0) 0%, rgb(3, 41, 90) 100%);
    
    
}

.texto-izquierdo {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    color: #fff;
    font-size: 18px;
}

.mi-texto {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    /* Grosor del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Sombra del texto */
    transition: transform 0.3s ease-in-out;
    /* Transición en el efecto hover */
}


/*comentarios*/


 .h2comentario{
    padding: 35px;
 }
.comentarios-seccion {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    /* Ajusta el margen superior según tus necesidades */
    padding: 30px;
}

.comentario {
    width: 30%;
    /* Ajusta el ancho de cada comentario según tus necesidades */
    padding: 10px;
    box-sizing: border-box;
    /* Asegura que el borde no afecte el ancho total */
}

.comentario:not(:last-child) {
    border-right: 3px solid #1f1f1f;
    /* Línea vertical que separa los comentarios */

}

.comentario:last-child {
    border-right: none;
    /* Elimina la línea en el último comentario */
}


.comentario h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.comentario p {
    font-size: 16px;
}




/* seccion de beneficios*/



.section {
    position: relative;
    height: 500px;
    /* Puedes ajustar la altura según tus necesidades */
    overflow: hidden;
    margin-top: 120px
}

.section-image {
    width: 100%; /* Cambiado a 100% para ocupar todo el ancho del contenedor */
    height: 100%; /* Puedes ajustar esto según tus necesidades */
    object-fit: contain; /* Ajusta el comportamiento de ajuste de la imagen */
    background-image: url('../images/bandera.jpg');
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
}

.section-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 26, 73, 0.8);
    /* Color azul oscuro con 70% de transparencia */
    color: white;

    border-radius: 30px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px 50px 30px 60px;
    width: 100%;
    /* Aumenté el tamaño del div en sí */
    max-width: 650px;
    /* Puedes ajustar el tamaño máximo si lo deseas */

}

.feature {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.feature img {
    width: 150px;
    /* Ajusta el tamaño del logo según tus necesidades */

}

.resaltado {
    font-weight: bold;
    font-size: 1.em;
    /* Puedes ajustar el tamaño según tus preferencias */
    /* Puedes ajustar el color según tus preferencias */
}

/* Footer */

.footer {
    background-color:#001A49;
}

.footer__title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title,
.footer__newsletter {
    color: #000000;
}


.footer__container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    
}

.nav--footer {
    padding-bottom: 10px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input {
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit {
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__copyright {
    font-weight: 300;
}

.footer__icons {
    margin-bottom: 10px;
}

.footer__img {
    width: 30px;
}


.loguito {
    height: 6rem;
    margin-left: 20px;
    margin-top: 10px;
}

@media (max-width:1100px) {

    .section-overlay {

        max-width: 650px;
    }
}

@media (max-width:800px) {
    .nav__menu {
        display: block;
    }

    .logo {
        height: 6rem;
        margin-left: -6px;

    }

    .nav__link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
        margin: 0;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .subtitle {
        font-size: 20px;
    }



    .about__main {
        gap: 2em;
    }

    .resaltado {
        font-size: 1.2em;
    }

    .about__icons:last-of-type {
        grid-column: 1/-1;
    }


    .section-overlay {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        max-width: 180px;
    }

    .footer__container {
        flex-wrap: wrap;
       
    }

    .loguito {
       
        display: flex;
      justify-content: center; /* Centra horizontalmente los elementos hijos */
      align-items: center; /* Centra verticalmente los elementos hijos */
      margin-left: 18px;
      height: 100px;;
    }

    .nav--footer {
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer {
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form {
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input {
        flex: 1;
    }
}

@media (max-width:600px) {


    .hero__title {
        font-size: 2rem;
    }

    .logo {
        height: 5rem;
        margin-left: -6px;

    }

    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(180deg,
                rgba(7, 7, 7, 0) 0%,
                /* Color azul más oscuro */
                rgb(0, 45, 103) 100%
                /* Color azul transparente */
            ), url('../images/mapachico\ \(2\).jpg');


        /*background-image: linear-gradient(180deg,
                rgba(1, 56, 118, 0) 0%,
               
                rgba(1, 56, 118, 1) 100%
                
            ), url('../images/header.jpg');*/
        width: 100%;
        height: 80%;

        background-position: center center;
        /* Centra la imagen en dispositivos móviles */
        background-size: cover;

        z-index: -1;
    }




    .hero__container {
        max-width: 1200px;
        --padding-container: 0;
        display: grid;
        grid-auto-rows: max-content;
        align-content: center;
        margin: 0px;
        padding-bottom: 100px;
        text-align: center;
    }


    .hero__paragraph {
        font-size: 1rem;
    }

    .about__title {
        color: rgb(0, 63, 118);
        font-size: 13px;
    }

    .about__icon {
        width: 80px;
    }

    .section-image {
        width: 500px;
        height: 120%;
        object-fit: cover;
        background-image:url('../images/bandera.jpg');

        background-repeat: no-repeat;
    }

    .feature img {
        width: 80px;
        /* Ajusta el tamaño del logo según tus necesidades */

    }

    .about__paragraph {
        line-height: 1.7;
        color: rgb(0, 63, 118);
        font-size: 17px;
        padding: 20px 30px 0px 30px;
    }

    /*seccion comentarios de clientes*/

    .comentarios-seccion {
        flex-direction: column;
        /* Cambia a disposición de columna para comentarios en dispositivos móviles */
        align-items: center;
        /* Centra los comentarios en dispositivos móviles */
    }

    .comentario {
        width: 100%;
        /* Ajusta el ancho al 100% para ocupar toda la pantalla en dispositivos móviles */
        border-right: none;
        border-bottom: 2px solid #020202;
        /* Sombra en la línea horizontal en dispositivos móviles */
        margin-bottom: 20px;
        /* Espaciado entre comentarios en dispositivos móviles */
    }

    .comentario:not(:last-child) {
        border-right: none;
        /* Línea vertical que separa los comentarios */
    }




    /*----------SI   QUIERO AGREGAR LA LINEA ABAJO DE TODO, DEBO BORRAR ESA CLASE------*/
    .comentario:last-child {
        border-bottom: none;
        /* Elimina la última línea horizontal en dispositivos móviles */
        margin-bottom: 0;
        /* Elimina el espacio entre comentarios en dispositivos móviles */
    }


    /*--footer*/

    .footer__title {
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer {
        padding-bottom: 60px;
    }

    .nav__link--footer {
        justify-content: space-between;
    }

    .footer__inputs {
        flex-wrap: wrap;
    }

    .footer__input {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit {
        margin-right: auto;
        margin-left: 0;


      
    }



}

@media (max-width:425px) {

    .section-image {
        width: 100%; /* Cambiado a 100% para ocupar todo el ancho del contenedor */
        height: 100%; /* Puedes ajustar esto según tus necesidades */
        object-fit: contain; /* Ajusta el comportamiento de ajuste de la imagen */
        background-image: url('../images/bandera.jpg');
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat;
    }


}